#!/usr/bin/env sh
alias help="man"

alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias ls-dir="ls -d */"
alias proses="ps aux | grep"

# vim
alias vim="nvim"
alias v="nvim"
alias vl="vim -u ~/.lite.vimrc" # vim 'light' mode
alias vconf="cd ~/.dotfiles && vim ~/.dotfiles/.vimrc"
alias hosts="vl /etc/hosts"

# zsh
alias zconf="vl ~/.zshrc"
alias zsource="source ~/.zshrc"

# tmux

# git
alias gst="git status"
alias gdiff="git diff"
alias gcf="vl $HOME/.gitconfig"
