#!/usr/bin/env sh

# Commons
alias help="man"

alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


# mac
alias sizeof="du -h -d 0"

alias ls-dir="ls -d */"
alias proses="ps aux | grep"

# vim
if type "nvim" > /dev/null; then
    # if nvim is available, we use it
    alias vim='nvim'
    alias vi='nvim'
    alias v='nvim'
fi
alias vconf="cd ~/.dotfiles && vim ~/.dotfiles/.vimrc"
alias hosts="sudo vim -u NONE /etc/hosts"
alias sshconf="vim ~/.ssh/config"

# zsh
alias zconf="vim ~/.zshrc"
alias zsource="source ~/.zshrc"

alias lsln="find . -maxdepth 1 -type l" # list symlinks

# git
alias gst="git status"
alias gdiff="git diff"
alias gcf="vim $HOME/.gitconfig"

alias cari="find ./ -name"

alias art="php artisan"

# npm js node whatever..
alias karma1="karma start --single-run"

# a litle twist :D
alias nano="vim -u ~/.simple.vimrc"
