#!/usr/bin/env sh

# Commons
alias l="ls -alh"
alias x="exit"
alias lsln="find . -maxdepth 1 -type l" # list symlinks
alias cari="rg --hidden --files -g"

alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias gensecret="openssl rand -hex 32"

# python
alias django="python manage.py"
alias pp_json="python -m json.tool"

alias tmux="tmux -u"

# wifi
alias lswifi="nmcli device wifi"
alias upwifi="nmcli connection up" # <SSID>
alias conwifi="nmcli device wifi connect" # <SSID> [password password]

alias sizeof="du -h -d 0"

alias ls-dir="ls -d */"
alias findproc="ps aux | grep"

# typo sucks
alias nvi='nvim'
alias vim='nvim'
alias vm='vim'
alias vi='vim'
alias v='vim'
alias hosts="sudo vim -u NONE /etc/hosts"

# fzf
alias vzf='vim $(fzf)'

# git
alias gconf="vim $HOME/.gitconfig"
alias gst="git status"
alias gdif="git diff"
alias ginit="git init && git add . && git commit -m 'init'"
alias gad="git add ."
alias gac="git add . && git commit -m"
alias gca="git add . && git commit --amend"
alias gcn="git commit --amend --no-edit"
alias gc="git commit -m"
alias gp="git push"

alias art="php artisan"

# a litle twist :D
alias nano="vim -u ~/.simple.vimrc"

alias pyserve="python -m SimpleHTTPServer"

alias hs="http-server -c-1 -d"

# react & react native
alias cra="create-react-app"
alias cra-ts="create-react-app --scripts-version=react-scripts-ts"
alias rn-reverse="adb reverse tcp:8081 tcp:8081"
