alias sizeof='du -h -d 0'

alias ls-dir='ls -d */'

alias g='git'
alias gst='git status'
alias gdif='git diff'
alias gdifs='git diff --staged'
alias ginit='git init && git add . && git commit -m "init"'
alias gad='git add .'
alias gac='git add . && git commit -m'
alias gca='git add . && git commit --amend'
alias gcn='git commit --amend --no-edit'
alias gco='git checkout'
alias gc='git commit -m'
alias gps='git push'
alias gpl='git push'
alias gb='git branch'
alias gba='git branch --all'
alias gbd='git branch -d'
alias gbD='git branch -D'
alias gbr='git branch -r'
alias gprun='git fetch --prune'

alias sail='./vendor/bin/sail'

alias rl='rlwrap --always-readline'

# vim: ft=sh
