; http://editorconfig.org/

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{js,jsx,ts,tsx,json,yml,yaml,lua}]
indent_size = 2

[*.{c,cpp,h,go,odin,Makefile}]
indent_style = tab
