function gi() { curl -sLw "\n" https://www.toptal.com/developers/gitignore/api/$@ ;}

clone-git-repo() {
    "$HOME/dotfiles/scripts/clone-git-repo.sh" "$@"
}

mac-check-electron() {
    "$HOME/dotfiles/scripts/mac-check-electron.sh"
}

download-neovim-nightly() {
    "$HOME/dotfiles/scripts/download-neovim-nightly.sh" "$@"
}

download-bin() {
    "$HOME/dotfiles/scripts/download-binary.sh" "$@"
}

print-colors() {
    "$HOME/dotfiles/scripts/print-colors.sh" "$@"
}

# vim: ft=sh
