[user]
    name = Yeri
    email = arifyeripratama@gmail.com
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[core]
    editor = "vim -u NONE"
    excludesfile = ~/.gitignore_global
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[alias]
    #l = log --oneline --graph --decorate
    ; l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    l = log --pretty=format:'%Cred%h%Creset - %C(bold blue)<%an>%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset' --abbrev-commit
    #la = log --oneline --graph --decorate --all
    la = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all

    gap = log --left-right --oneline --decorate
    compare = log --left-right --oneline --decorate
    co = checkout
    # list-files = show --format=\"\" --name-status
    list-files = diff-tree --no-commit-id --name-status -r
    br = branch
    branch = branch -v
    stash = stash -u
    rlog = reflog --date=local
    logno = log --no-merges
    confg = config --global --list
    committer = shortlog -s -n --all
[credential]
	helper = cache
