#!/usr/bin/env bash

alias l='ls -alh'

alias '..'='cd ..'
alias 'cd..'='cd ..'
alias '...'='cd ../..'
alias '....'='cd ../../..'
alias '.....'='cd ../../../..'

alias prettier-here='prettier --write --ignore-path .gitignore'

alias tkill='tmux kill-server'
alias tmain='tmux a -t main'
alias tmux='tmux -u'

alias sizeof='du -h -d 0'

alias ls-dir='ls -d */'

alias im='nvim'
alias vmi='nvim'
alias nvi='nvim'
alias nivm='nvim'
alias nv='nvim'
alias vim='nvim'
alias vm='nvim'
alias vi='nvim'
alias v='nvim'
alias n='nvim'

alias g='git'
alias gconf='vim $HOME/.gitconfig'
alias gst='git status'
alias gdif='git diff'
alias ginit='git init && git add . && git commit -m "init"'
alias gad='git add .'
alias gac='git add . && git commit -m'
alias gca='git add . && git commit --amend'
alias gcn='git commit --amend --no-edit'
alias gco='git checkout'
alias gc='git commit -m'
alias gp='git push'
alias gb='git branch'
alias gba='git branch --all'
alias gbr='git branch -r'
alias gprun='git fetch --prune'
alias lgit='lazygit'

# vim: ft=bash
