# vim:ft=sh

# gitignore generator
function gi() { curl -sLw "\n" "https://www.gitignore.io/api/$@" ;}
function gi_init() { gi $@ > .gitignore; ginit }

function venv {
    if [ -d .venv ]; then
        source .venv/bin/activate
    else
        virtualenv .venv
        source .venv/bin/activate
    fi
}

# python virtualenv
function source_virtualenv {
    if [ -d .venv ]; then
        source .venv/bin/activate
    fi
}

function cdir {
    mkdir -p -- "$1" &&
        cd -P -- "$1"
}
